* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

html, body {
  background-color: #3d3635;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;
  text-transform: uppercase;
}

button:hover {
  background-color: #772ce8;
}