.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.text-editor {
    /* background-color: #FFF; */
    width:600px;
    height:300px;
}


/* 
.form-container {
    display: grid;
    place-content: center;
}

.label {
    font-family: sans-serif;
    margin-right: 10px;
}

.input-container: {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
} */