.navbar {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  width: 55%;
  display: flex;
  justify-content: space-between;  
}
 
a {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700; 
}


a.active, button.active {
  background-color: #c57aff;
}

.navbar, ul {
  display: flex;
  margin: 0px;
  align-items: center;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin-block: 16px;
  margin-right: 16px;
}

.users-logo {
  margin-left: 16px;
}


.navbutton {
  font-size: 16px;
}

.nav-linhadotempo {
  width: 250px;
  padding: 0;
  font-size: 16px
}